/* Универсальный контейнер */

.Container {
    max-width: 768px; /* Максимальная ширина 1440px + padding 40px с лева 40px с права = 1520px */
    width: 100%; /* Растягиваем на всё длину 1520px */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 0 40px; /* Добавляем padding, внутренние отступы для мобильной версии. Прибавляем по 40 пикселей с лева и с права. и того не 1440px а -> 1520px */
}

